.ProjectListing {
    &__card {
        display: flex;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        &-border {
            border: 1px solid rgba(217, 217, 217, 1);
        }
    }

    cursor: pointer;
    &:hover {
        background: rgba(255, 242, 235, 1);
    }
}